@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Literata:ital,wght@1,900&family=Montserrat:wght@400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.App{
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
    flex-direction: column;
}
.title{
    font-size: 30px;
    /* font-weight: 500; */
    font-family: 'Literata', serif;
}
/* Styling For text box */
.textBox{
    width: 900px;
}
.words{
    font-size: 1.8rem;
    word-spacing: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}
.word{
    margin: 5px;
    padding-right: 2px;
}
.hidden-input{
    opacity: 0;
}
.current{
    border-left: 2px solid rgb(40, 39, 39);
    animation: blinking 2s infinite;
    animation-timing-function: ease;
}

@keyframes blinking {
    0%{
        border-left-color:  white;
    }
    25%{
        border-left-color:  rgb(16, 15, 15);
    }
    50%{
        border-left-color:  rgb(253, 249, 249);
    }
    70%{
        border-left-color:  rgb(25, 25, 25);
    }
    100%{
        border-left-color:rgb(243, 240, 240);
    }
}
.current_right{
    border-right: 1px solid black;
    animation: blinkingRight 2s infinite;
    animation-timing-function: ease;
}

@keyframes blinkingRight {
    0%{
        border-right-color:  white;
    }
    25%{
        border-right-color:  black;
    }
    50%{
        border-right-color:  white;
    }
    70%{
        border-right-color:  black;
    }
    100%{
        border-right-color:white;
    }
}
/* Styling For text box */
.correct{
    color: lawngreen;
}
.incorrect{
    color: red;
}
.upper_menu{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-size: 1.35rem;
    padding: 0.5rem;
}
.modes{
    display: flex;
    gap: 0.6rem;
    cursor: pointer;
}
.time-mode:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}
.footer{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}